<%- include("../../Partials/header.ejs")%>
<%- include("../../Partials/navbar.ejs") %>


<div class="h-screen">
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse w-full md:w-2/5 mx-auto">
          <div class=" w-full  shadow-2xl bg-base-100">
            <form class="card-body" action="/auth/login" method="post">
                <h1 class="text-center text-2xl">Login</h1> <hr>
          
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Email</span>
                </label>
                <input type="email" name="email" placeholder="email" class="input input-bordered rounded-md text-black"  />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Password</span>
                </label>
                <input type="password" name="password" placeholder="password" class="input input-bordered rounded-md text-black"  />
              
              </div>
            
              <div class="form-control mt-6">
                <button class="btn btn-primary">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>

</div>



<%- include("../../Partials/footer.ejs")%>

    
</body>

</html>