<%- include("../../Partials/header.ejs") %> <%-
include("../../Partials/navbar.ejs") %>

<div class="h-screen">
  <h1 class="text-2xl text-center">welcome to your Dashboard</h1>
</div>

<%- include("../../Partials/footer.ejs") %>
